<div class="row center">
    <h1>{{msg}}</h1>
    
    <div>
        write some message here
    </div>
    
</div>

<div class="row center">

    <div class="holder col sm12 m6 l4">
        <img class="imgFit" src="/images/one_code.PNG">
        <div class="overlay">
            <div class="appName">One Stop Code Shop</div>
        </div>
    </div>

    <div class="holder col sm12 m6 l4">
        <img class="imgFit" src="/images/overwatch_RPG.PNG">
        <div class="overlay">
            <div class="appName">Overwatch RPG Game</div>
        </div>
    </div>

    <div class="holder col sm12 m6 l4">
        <img class="imgFit" src="/images/giphy_API.PNG">
        <div class="overlay">
            <div class="appName">Giphy Generator</div>
        </div>
    </div>

    <div class="holder col sm12 m6 l4">
        <img class="imgFit" src="/images/trivia.PNG">
        <div class="overlay">
            <div class="appName">Parks and Rec Trivia Game</div>
        </div>
    </div>

    <div class="holder col sm12 m6 l4">
        <img class="imgFit" src="/images/hangman.PNG">
        <div class="overlay">
            <div class="appName">Battle Royale Hangman</div>
        </div>
    </div>

    <div class="holder col sm12 m6 l4">
        <img class="imgFit" src="/images/train-schedule.PNG">
        <div class="overlay">
            <div class="appName">Train Scheduler</div>
        </div>
    </div>

    <div class="holder col sm12 m6 l4">
        <img class="imgFit" src="/images/coming-soon.PNG">
        <div class="overlay">
            <div class="appName">Liri Node App</div>
        </div>
    </div>

    <div class="holder col sm12 m6 l4">
        <img class="imgFit" src="/images/coming-soon.PNG">
        <div class="overlay">
            <div class="appName">Constructor Word Game</div>
        </div>
    </div>
    
</div>