<div id="home">
    <div class="container">
        <div class="row">
            <div>
                <h1>{{msg}}</h1>
                <div>
                   write some message here
                    </div>

                    <div>

                        <div>
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/one_code.PNG">
                                    <span class="card-title">One Stop Code Shop</span>
                                </div>
                            </div>

                            <div>
                                <div class="card-image">
                                    <img src="/images/overwatch_RPG.PNG">
                                    <span class="card-title">Overwatch RPG Game</span>
                                </div>
                            </div>

                            <div>
                                <div class="card-image">
                                    <img src="/images/giphy_API.PNG">
                                    <span class="card-title">Giphy Generator</span>
                                </div>
                            </div>

                            <div>
                                <div class="card-image">
                                    <img src="/images/trivia.PNG">
                                    <span class="card-title">Parks and Rec Trivia Game</span>
                                </div>
                            </div>

                            <div>
                                <div class="card-image">
                                    <img src="/images/hangman.PNG">
                                    <span class="card-title">Battle Royale Hangman</span>
                                </div>
                            </div>

                            <div>
                                <div class="card-image">
                                    <img src="/images/train-schedule.PNG">
                                    <span class="card-title">Train Scheduler</span>
                                </div>
                            </div>

                            <div>
                                <div class="card-image">
                                    <img src="/images/coming-soon.PNG">
                                    <span class="card-title">Liri Node App</span>
                                </div>
                            </div>

                            <div>
                                <div class="card-image">
                                    <img src="/images/coming-soon.PNG">
                                    <span class="card-title">Constructor Word Guess Game</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>