<div class="container">
    <div class="row">
        <h1>{{msg}}</h1>
        <div>
            write some message here
        </div>
    </div>
    <div class="flexBox">

        {{!-- <div class="imgSizing"> --}}

            <div class="card flexItem">
                <div class="card-image">
                    <img src="/images/one_code.PNG">
                    <div class="overlay">
                        <div class="appName">One Stop Code Shop</div>
                    </div>
                </div>
            </div>

            <div class="card flexItem">
                <div class="card-image">
                    <img src="/images/overwatch_RPG.PNG">
                    <div class="overlay">
                        <div class="appName">Overwatch RPG Game</div>
                    </div>
                </div>
            </div>

            <div class="card flexItem">
                <div class="card-image">
                    <img src="/images/giphy_API.PNG">
                    <div class="overlay">
                        <div class="appName">Giphy Generator</div>
                    </div>
                </div>
            </div>

            <div class="card flexItem">
                <div class="card-image">
                    <img src="/images/trivia.PNG">
                    <div class="overlay">
                        <div class="appName">Parks and Rec Trivia Game</div>
                    </div>
                </div>
            </div>

            <div class="card flexItem">
                <div class="card-image">
                    <img src="/images/hangman.PNG">
                    <div class="overlay">
                        <div class="appName">Battle Royale Hangman</div>
                    </div>
                </div>
            </div>

            <div class="card flexItem">
                <div class="card-image">
                    <img src="/images/train-schedule.PNG">
                    <div class="overlay">
                        <div class="appName">Train Scheduler</div>
                    </div>
                </div>
            </div>

            <div class="card flexItem">
                <div class="card-image">
                    <img src="/images/coming-soon.PNG">
                    <div class="overlay">
                        <div class="appName">Liri Node App</div>
                    </div>
                </div>
            </div>

            <div class="card flexItem">
                <div class="card-image">
                    <img src="/images/coming-soon.PNG">
                    <div class="overlay">
                        <div class="appName">Constructor Word Game</div>
                    </div>
                </div>
                {{!--
            </div> --}}
        </div>
    </div>
</div>