body {
  background-color: lightcoral;
}

.mainContent {
  background-color: white;
}
.padTop {
  padding-top: 40px;
}

.separate {
  margin-left: 0.5em;
}

.logoResize {
  height: 45px;
}

.leftPad {
  padding-left: 1.25em;
}

.imgFit {
  display: block;
  width: 100%;
  height: 170px;
}

.holder {
  position: relative;
  width: 100%;
}

.row > a > .portDiv {
  padding: 1.25em 0 0 1.25em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.appName {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.holder:hover .overlay {
  opacity: 0.6;
  cursor: pointer
}
