body {
  background-color: #1e3d5a;
  font-family: 'Roboto', sans-serif;
} 

.hidden {
  display: none;
}

.tooltipped:hover {
  cursor: pointer;
}

.mainContent {
  background-color: #e5efee;
  border-radius: 1em;
  padding-right: 1.25em;
  padding-left: 1.25em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 18px;
}

.marTop {
  margin-top: 20px;
}

.navBar {
  padding-top: 60px;
  padding-bottom: 60px;
}

.separate {
  margin-left: 0.5em;
}

.logoResize {
  height: 45px;
}

.textStyle {
  line-height: 1.5;
}

.textMarTop {
  margin-top: -2px;
}

#photoDiv {
  margin-top: 2em;
}

.imgFit {
  display: block;
  width: 100%;
  height: 170px;
}

.holder {
  position: relative;
  width: 100%;
}

.row > a > .portDiv {
  padding-top: 1.25em;
}

.appInfo {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.appName {
font-size: 16px;
}

.linkDiv {
  margin-top: 0.5em;
  font-size: 12px;
}

.aPort {
  text-decoration: none;
  color: black;
}

.noLeftPad {
  padding-left: 0px !important;
  margin-top: 1em;
}

.footerLogoSeparate {
  margin-left: 2em;
}

.footerSpacing {
  padding-top: 60px;
}