body {
  background-color: #051c3b;
  font-family: 'Roboto', sans-serif;
} 

.logo {
  color: white;
  opacity: 0.4;
}

#homeButton {
  opacity: 1.0;
}

.hidden {
  display: none;
}

.tooltipped:hover {
  cursor: pointer;
}

.mainContent {
  background-color: #e5efee;
  border: 0.1em solid #80a4be;
  border-radius: 1em;
  padding-right: 1.25em;
  padding-left: 1.25em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 18px;
}

.marTop {
  margin-top: 20px;
  margin-bottom: 30px;
}

.navBar {
  padding-top: 60px;
  padding-bottom: 60px;
}

.separate {
  margin-left: 0.5em;
}

.logoResize {
  height: 45px;
  filter: invert(1);
}

.textStyle {
  line-height: 1.5;
}

.textMarTop {
  margin-top: -2px;
}

#photoDiv {
  margin-top: 1em;
}

.imgFit {
  display: block;
  width: 100%;
  height: 170px;
}

.holder {
  position: relative;
  width: 100%;
}

.row > a > .portDiv {
  padding-top: 1.25em;
}

.appInfo {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.appName {
font-size: 16px;
}

.linkDiv {
  margin-top: 0.5em;
  font-size: 12px;
}

.aPort {
  text-decoration: none;
  color: black;
}

.comHeight {
  height: 10em;
}

.comFontSize {
  font-size: 1rem;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #57859c !important;
  box-shadow: 0 1px 0 0 #57859c !important;
}

.input-field input[type=text]::placeholder {
  color: #57859c !important;
  opacity: 0.3 !important;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: #57859c !important;
}

#textInput:active, #textInput:focus, #textInput:hover {
  border-color: #57859c;
}

.btn {
  background-color: #1e3d5a;
}

.btn:hover {
  background-color: #1e3d5a;
}

.noLeftPad {
  padding-left: 0px !important;
  margin-top: 1em;
}

.footerLogoSeparate {
  margin-left: 2em;
}

.footerSpacing {
  padding-top: 60px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1024px) {
 
  #photoDiv {
    margin-top: 1.5em;
  }

  #moveText {
    margin-left: -224px;
  }

  .imgFit {
    height: 120px;
  }
  
}  

@media screen and (max-width: 768px) {  

  #photoDiv {
    text-align: center;
    padding-bottom: 2em;
  }

  #moveText {
    margin-left: 0px;
  }

  .textStyle {
    text-align: center;
  }

  .imgFit {
    height: 170px;
  }

}

@media screen and (max-width: 425px) {  

  #photoDiv {
    text-align: center;
    padding-bottom: 2em;
  }

  .textStyle {
    text-align: center;
  }

  #moveIt {
    margin-left: 66px;
  }

  #moveIt2 {
    margin-left: 75px;
  }

  .btnMove {
    text-align: center;
  }

}

@media screen and (max-width: 375px) {  

  #moveIt {
    margin-left: 48px;
  }

  #moveIt2 {
    margin-left: 58px;
  }

}  

@media screen and (max-width: 320px) {  

  #moveIt {
    margin-left: 24px;
  }

  #moveIt2 {
    margin-left: 36px;
  }

}
